@model IEnumerable<employeeName.Models.DBEntities.Employee>

@if (Model != null && Model.Any())
{
    @foreach (var employee in Model)
    {
        <tr>
            <td>@employee.FullName</td>
            <td>@employee.Email</td>
        </tr>
    }
}
else
{
    <tr><td colspan="3">No employees found</td></tr>
}
